$primary-color: #ffffff;
$font: 'Volkhov', serif;
$size:185px;
.information {
    background-image: linear-gradient(45deg, rgb(224, 185, 13), blue);
    border: 1px solid black;
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px;
    color: $primary-color ;
    font-size: 20px;
    font-family: $font;
    border-radius: 5%;
    .place {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .width {
        width:$size;
    }
    .gender-1 {
        display: flex;
        justify-content: space-between;
    }
     & button {
        background-color: rgb(90, 90, 211);
        display: flex;
        width: 100px;
        height: 70px;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
        margin:  0 auto;
        font-size:20px;
        justify-content: center;
        align-items: center;
        font-family: $font ;
        transition: ease-in 0.4s;
       &:hover {
            background-color: rgb(236, 236, 67);
            border-top-left-radius: 20%;
            border-bottom-right-radius: 20%;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
    }
    }
    .birthday {
        width:$size ;
        height: 30px;
    }
    .malebutton{
        margin: 8px;
    }
    .adress{
        width:$size;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}